@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=League+Spartan&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jua&display=swap");

:root {
  --color-background: #f8f8ff;
  --color-danger: #061d54;
  --color-input-box: rgba(125, 106, 92, 0.07999999821186066);
  --color-inputplaceholder: #7d6a5c7a;
  --color-dangerold: #312DDC;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-size: 35px;
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: var(--color-background);
}

.wrapper {
  background: #ffffff;
  color: #000000;
  width: 740px;
  height: 660px;
  opacity: 1;
  position: absolute;
  margin: 50%;
  border-radius: 0.2rem;
  box-shadow: 0px 20px 74px rgba(0, 0, 0, 0.25);
  /*overflow: hidden;*/
}

.wrapper .logo img {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 125px;
  margin-top: 30px;
}

.textin {
  text-align: left;
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50%;
  margin: 60px;
  margin-top: -30px;
  border-radius: 0.2rem;
  transform: translateY(50%);
}

.input-box input {
  width: 625px;
  height: 83px;
  background: var(--color-input-box);
  border-radius: 0.2rem;
  border: transparent;
  font-size: 22px;
  padding: 20px 45px 20px 20px;
  padding-right: 80px;
  color: #000000
}

.input-box input::placeholder {
  color: var(--color-inputplaceholder);
}

.input-box img {
  position: absolute;
  left: 570px;
  transform: translateY(100%);
  width: 30px;

}

.clear-button {
  position: absolute;
  right: 150px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url('assets/images/acessar/blue_cross_icon.png');
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 25px;
}

.clear-button:hover {
  transition: all 0.2s ease;
  filter: brightness(230%) saturate(72%);
}

.eye-button {
  position: absolute;
  right: 150px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url('assets/images/acessar/blue_diagonal_line_icon.png'), url('assets/images/acessar/blue_circular_icon.png');
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 23px;
}

.eye-button:hover {
  transition: all 0.2s ease;
  filter: brightness(230%) saturate(72%);
}

.manter-conectado input[type="checkbox"] {
  width: 0px;
  height: 0px;
  overflow: hidden;
  position: absolute;
}

.manter-conectado label {
  position: relative;
  padding-left: 2.2em;
  padding-top: 0.2em;
  top: 0.1em;
}

.manter-conectado label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
  background: rgba(125, 106, 92, 0.07999999821186066);
  margin-right: 0.5em;
  transition: all 0.2s ease;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0em;
  transform: translate(0, -50%);
  border-radius: 0.1rem;
}

.manter-conectado label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.75em;
  transform: translate(-50%, -50%);
  width: 30px;
  /* Largura da imagem */
  height: 30px;
  /* Altura da imagem */
  background-image: url('assets/images/acessar/blue_check_mark_icon.png');
  /* URL da imagem */
  background-size: cover;
  opacity: 0;
  transition: all 0.2s ease;
}

.manter-conectado label:hover::before {
  filter: brightness(200%);
}

.manter-conectado input:checked+label::before {
  background: rgba(125, 106, 92, 0.07999999821186066);
  /* Cor de destaque */
}

.manter-conectado input:checked+label::after {
  opacity: 1;
}

.manter-conectado input:checked+label:hover:after {
  filter: brightness(230%) saturate(72%);
}

.wrapper .manter-conectado {
  position: relative;
  justify-content: space-between;
  margin: 60px;
  margin-top: 80px;
}

.manter-conectado label {
  font-size: 22px;
  cursor: pointer;
}

.manter-conectado label input {
  accent-color: var(--color-danger);
}

.wrapper .btn {
  width: 50%;
  height: 10%;
  background: var(--color-danger);
  outline: none;
  border-radius: 0.2rem;
  color: #fff;
  font-weight: bold;
  bottom: 30px;
  transform: translateX(50%);
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px groove var(--color-danger);
}

.wrapper .btn:hover {
  background: white;
  color: var(--color-danger)
}

.arrow-button {
  position: absolute;
  top: 29px;
  left: 0.75em;
  right: 100px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('assets/images/acessar/blue_arrow_icon.png');
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
}

.arrow-button:hover {
  transition: all 0.2s ease;
  filter: brightness(230%) saturate(72%);
}

.full-screen-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensagem_erro {
  bottom: 150px;
  color: rgb(231, 31, 31);
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
}