{% extends '../components/base.html' %}
{% load static %}
{% block content %}

<body>
  <div class="indicators-container">
    <span class="indicator" id="agendados-total"><i class='bx bx-time-five' > </i> Agendados: {{ eventos.status.hoje.agendados }}</span>
    <span class="indicator" id="em-progresso-total"><i class='bx bx-check-double'></i> Em Progresso: {{ eventos.status.hoje.em_progresso }}</span>
    <span class="indicator" id="concluidos-total"><i class='bx bx-box'></i> Concluídos: {{ eventos.status.hoje.em_progresso }}</span>
  </div>

  <div class="main-container">
    <section class="day-container today">
      <h2>{{ datas.hoje.dia.string }}, {{ datas.hoje.formatada.DM }} </h2>

      <!-- Scheduled Events -->
      <div class="events-container">
        <div class="status-column">
          <h2 class="status-header">Agendado</h2>
          <div class="event agendado">
            <span class="event-time">9:00 - 10:00</span>
            <div class="event-info">
              <h3 class="event-title">Nome - Solicitante</h3>
              <dl class="event-description">
                <dt> Local </dt>
                <dt>Informacoes laskdjaskdahsdjhasjh </dt>
              </dl>
            </div>
            <div class="event-actions">
              <button class="button iniciar"><i class="fas fa-play"></i></button>
            </div>
          </div>

          <!-- In Progress Events -->
          <h2 class="status-header">Em Progresso</h2>
          <div class="event em-progresso">
            <span class="event-time">9:00 - 10:00</span>
            <div class="event-info">
              <h3 class="event-title">Nome - Solicitante</h3>
              <dl class="event-description">
                <dt> Local </dt>
                <dt>Informacoes laskdjaskdahsdjhasjh </dt>
              </dl>
            </div>
            <div class="event-actions">
              <button class="button concluir"><i class="fas fa-check"></i></button>

            </div>
          </div>
        </div>

        <!-- Completed Events -->
        <h2 class="status-header">Concluído</h2>
        <div class="event concluido">
          <span class="event-time">9:00 - 10:00</span>
          <div class="event-info">
            <h3 class="event-title">Nome - Solicitante</h3>
            <dl class="event-description">
              <dt> Local </dt>
              <dt>Informacoes laskdjaskdahsdjhasjh </dt>
            </dl>
          </div>
          <div class="event-actions">
            <button class="button arquivar"><i class="fas fa-archive"></i></button>
    </section>

    <section class="day-container">
      <h2>{{ datas.amanha.dia.string }}, {{ datas.amanha.formatada.DM }}</h2>
      <!-- Scheduled Events -->
      <h2 class="status-header">Agendado</h2>
      <div class="event agendado">
        <span class="event-time">9:00 - 10:00</span>
        <div class="event-info">
          <h3 class="event-title">Nome - Solicitante</h3>
          <dl class="event-description">
            <dt> Local </dt>
            <dt>Informacoes laskdjaskdahsdjhasjh </dt>
          </dl>
        </div>
        <div class="event-actions">
          <button class="button iniciar"><i class="fas fa-play"></i></button>
        </div>
      </div>

      <!-- In Progress Events -->
      <h2 class="status-header">Em Progresso</h2>
      <div class="event em-progresso">
        <span class="event-time">9:00 - 10:00</span>
        <div class="event-info">
          <h3 class="event-title">Nome - Solicitante</h3>
          <dl class="event-description">
            <dt> Local </dt>
            <dt>Informacoes laskdjaskdahsdjhasjh </dt>
          </dl>
        </div>
        <div class="event-actions">
          <button class="button concluir"><i class="fas fa-check"></i></button>
        </div>
      </div>

      <!-- Completed Events -->
      <h2 class="status-header">Concluído</h2>
      <div class="event concluido">
        <span class="event-time">9:00 - 10:00</span>
        <div class="event-info">
          <h3 class="event-title">Nome - Solicitante</h3>
          <dl class="event-description">
            <dt> Local </dt>
            <dt>Informacoes laskdjaskdahsdjhasjh </dt>
          </dl>
        </div>
        <div class="event-actions">
          <button class="button arquivar"><i class="fas fa-archive"></i></button>
    </section>
  </div>
  </div>
  </div>
  <!-- Include FontAwesome for icons -->
  <script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>
  <link rel="stylesheet" href="{% static 'styles/style-eventos.css' %}?{% now " U" %}">


</body>
{% endblock %}

<!--<body>
    <div class="container">
        
        <main>
            
            <div class="data">
                <h1> {{ datas.hoje.dia.string }}, {{ datas.hoje.formatada.string }} </h1>
            </div>
            <ul class="filtros">
                <li>
                    <i class='bx bx-box'></i>
                    <span class="info">
                        <h3>
                            {{ eventos.status.hoje.agendados }}
                        </h3>
                        <p>Agendados</p>
                    </span>
                </li>
                <li><i class='bx bx-time-five'></i>
                    <span class="info">
                        <h3>
                            {{ eventos.status.hoje.em_progresso }}
                        </h3>
                        <p>Progresso</p>
                    </span>
                </li>
                
                <li><i class='bx bx-check-double'></i>
                    <span class="info">
                        <h3>
                            {{ eventos.status.hoje.concluidos }}
                        </h3>
                        <p>Concluídos</p>
                    </span>
                </li>
            </ul>
            
            <ul class="eventos">
                {% for evento in eventos.hoje %}
                {% if evento.status == "AGENDADO" %}
                <li id="agendados">
                    <i class='agendados'></i>
                {% elif evento.status == "EM PROGRESSO" %}
                <li id="progresso">
                    <i class='progresso'></i>
                {% elif evento.status == "CONCLUIDO" %}
                <li id="concluidos">
                    <i class='concluidos'></i>
                {% endif %}
                    <span class="info">
                        <d1>
                            <dt>{{ evento.nome }}    •    {{ evento.tempo }}</dt>
                            <dd>{{ evento.solicitante }}</dd>
                            <dd>{{ evento.lugar }}</dd>
                            <dd>{{ evento.descricao }}</dd>
                        </d1>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </main>
       
        <div class="right-section">
            <div class="reminders">
                <div class="header">
                    <h2>Amanhã • {{ datas.amanha.formatada.DMA }}</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>


                {% for evento in eventos.amanha %}
                <div class="notification deactive">
                       <span class="material-icons-sharp">
                            event
                        </span>
                    {% if evento.status == "AGENDADO" %}
                    <div class="status agendados">
                        <i class='bx bx-box'>
                    {% elif evento.status == "EM PROGRESSO" %}
                    <div class="status em progresso">
                        <i class='bx bx-time-five'>
                    {% elif evento.status == "CONCLUIDO" %}
                    <div class="status concluidos">
                        <i class='bx bx-check-double'>
                    {% endif %}
                        </i>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>{{ evento.nome }} • {{ evento.lugar }}</h3>
                            <small class="text_muted">
                               {{ evento.tempo }}
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>
                {% endfor %}
                <a href="/admin/eventos/evento/add/">
                <div class="notification add-reminder">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>Adicionar Evento</h3>
                </div>
                </a>
            </div>
        </div>
    </div>
    <script src="static/js/index.js"></script>
</body>-->