<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
</head>
<body>
    <h1>Calendario</h1>
    <h2>{{ mes_atual }}</h2>
    {% for data, eventos in eventos_mes.items %}
        <h2>dia: {{ data }}</h2>
        <ul>
            {% for evento in eventos %}
                <li>
                    <strong>Nome do evento:</strong> {{ evento.nome }}<br>
                    <strong>Solicitante:</strong> {{ evento.solicitante }}<br>
                    <strong>Tempo:</strong> {{ evento.tempo }}<br>
                    <strong>Lugar:</strong> {{ evento.lugar }}<br>
                    <strong>Descrição:</strong> {{ evento.descricao }}<br>
                    <strong>Status:</strong> {{ evento.status }}<br>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    {% if not usuario.is_authenticated %}
    <a href="login">
        <h1>Fazer login</h1>
    </a>
    {% endif %}
    {% if usuario.is_authenticated %}
    <a href="home_eventos">
        <h1>DASHBOARD</h1>
    </a>
    {% endif %}
    
    <p>{{ usuario }}</p>
    
    
    
    
</body>
</html>
