{% extends 'eventos/base.html' %}
{% load static %}
{% block content %}
<body>

    <div class="container">
        <!-- sidebar section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{% static 'assets/icons/icone-alepe 1.png' %}">
                    <h2><span class="danger"> Alepe Suporte</span></h2>
                </div>
                
            </div>

            <div class="sidebar">
                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Configurações</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-icons-sharp">
                        calendar_today
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        calendar_view_week
                    </span>
                    <h3>Calendário</h3>
                    <span class="message-count">{{ eventos.status.mensal.total }}</span>
                </a>              
                <a href="#">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>
                        <!-- form para logout -->
                        <form action="/" method="post">
                            {% csrf_token %}
                            {{ logout_view }}
                        <button type="submit">Logout</button>
                        </form>
                    </h3>
                </a>
            </div>
        </aside>
        <!-- fim sidebar section -->

        <!-- main content -->
        <main>
            <!--colocar as tags aq-->
            <!-- filtros -->
            <ul class="filtros">
                <li>
                    <i class='bx bx-box'></i>
                    <span class="info">
                        <h3>
                            {{ eventos.status.hoje.agendados }}
                        </h3>
                        <p>Agendados</p>
                    </span>
                </li>
                <li><i class='bx bx-time-five'></i>
                    <span class="info">
                        <h3>
                            {{ eventos.status.hoje.em_progresso }}
                        </h3>
                        <p>Progresso</p>
                    </span>
                </li>
                <li><i class='bx bx-check-double'></i>
                    <span class="info">
                        <h3>
                            {{ eventos.status.hoje.concluidos }}
                        </h3>
                        <p>Concluídos</p>
                    </span>
                </li>
            </ul>
             <!--dia da semana-->
            <h1> {{ datas.hoje.dia.string }}, {{ datas.hoje.formatada.string }} </h1>
            <!--cards event-->
            <ul class="eventos">

                {% for evento in eventos.hoje %}
                {% if evento.status == "AGENDADO" %}
                <li id="agendados">
                    <i class='agendados'></i>
                {% elif evento.status == "EM PROGRESSO" %}
                <li id="progresso">
                    <i class='progresso'></i>
                {% elif evento.status == "CONCLUIDO" %}
                <li id="concluidos">
                    <i class='concluidos'></i>
                {% endif %}
                    <span class="info">
                        <d1>
                            <dt>{{ evento.nome }}     |   {{ evento.tempo }}</dt>
                            <dd>{{ evento.solicitante }}</dd>
                            <dd>{{ evento.lugar }}</dd>
                            <dd>{{ evento.descricao }}</dd>
                        </d1>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="profile">
                    <div class="info">
                        <p><b> {{ usuario.username }}</b></p>
                        <small class="text-muted">Suporte</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{% static 'assets/images/home-eventos/profile-sti.png' %}">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="reminders">
                <div class="header">
                    <h2>Próximos Eventos • {{ datas.amanha.formatada.DM }}</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <!-- mudar para mostrar somente os evento de amanha -->
                {% for evento in eventos.amanha %}
                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            event
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>{{ evento.nome }} | {{ evento.lugar }}</h3>
                            <small class="text_muted">
                               {{ evento.tempo }}
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>
                {% endfor %}

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Adicionar Evento</h3>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <script src="static/js/index.js"></script>
</body>

</html>
{% endblock %}
